<!-- <main-action-bar [customTitle]="_formattedTitle"></main-action-bar> -->
<ScrollView orientation="vertical">
  <StackLayout orientation="vertical">
  <DockLayout class="species-detail-title-layout" backgroundColor="#795548" stretchLastChild="true">
    <Label textAlignment="center" alignSelf="center" textAlignment="center" height="100%" color="#ffffff" dock="right" text="&#xf00d;" class="fa" margin="5" (tap)="_routerExtensions.back()"></Label>
    <Label textAlignment="center" color="#ffffff" dock="left" marginLeft="40" marginRight="20" [text]="_formattedTitle" class="action-label h2"></Label>
  </DockLayout>

  <GridLayout horizontalAlignment="center" width="40%" rows="*,*" columns="*, *, *, *, *" >
    <Label text="&#xf002;" textAlignment="center" row="1" col="0" color="yellow" class="fa"></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="1" class="fa" ></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="2" class="fa" ></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="3" class="fa" ></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="4" class="fa" ></Label>
    <Label col="0" row="0" colSpan="5" textAlignment="center" text="Endangerment Level:"></Label>
  </GridLayout>

    <Label class="hr-dark"></Label>

    <label *ngIf="_speciesModel.scientific_name" [text]="_speciesModel.scientific_name"></label>

    <Image *ngIf="_speciesModel.image" [src]="_speciesModel.image" margin="10" height="80vh"></Image>

    <Label class="hr-dark"></Label>

  </StackLayout>
</ScrollView>