<!-- <main-action-bar [customTitle]="_formattedTitle"></main-action-bar> -->
<ScrollView orientation="vertical">
  <StackLayout orientation="vertical">
  <DockLayout class="species-detail-title-layout" backgroundColor="#795548" stretchLastChild="true">
    <Label textAlignment="center" alignSelf="center" textAlignment="center" height="100%" color="#ffffff" dock="right" text="&#xf00d;" class="fa" margin="5" (tap)="_routerExtensions.back()"></Label>
    <Label textAlignment="center" color="#ffffff" dock="left" marginLeft="40" marginRight="20" [text]="_formattedTitle" class="action-label h2"></Label>
  </DockLayout>

  <GridLayout horizontalAlignment="center" width="40%" rows="*,*" columns="*, *, *, *, *" >
    <Label text="&#xf002;" textAlignment="center" row="1" col="0" color="yellow" class="fa"></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="1" class="fa" ></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="2" class="fa" ></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="3" class="fa" ></Label>
    <Label text="&#xf002;" textAlignment="center" row="1" col="4" class="fa" ></Label>
    <Label col="0" row="0" colSpan="5" textAlignment="center" text="Endangerment Level:"></Label>
  </GridLayout>

    <Label class="hr-dark"></Label>

    <Label *ngIf="_speciesModel.scientificName" [text]="_speciesModel.scientificName"></Label>

    <Label *ngIf="_speciesModel.overview" class="m-t-5 h3 font-weight-bold text-center" textWrap=true text="Overview"> </Label>
    <Label *ngIf="_speciesModel.overview" textWrap=true [text]="_speciesModel.overview"> </Label>

    <Label *ngIf="_speciesModel.behavior" class="m-t-5 h3 font-weight-bold text-center" textWrap=true text="Behavior"> </Label>
    <Label *ngIf="_speciesModel.behavior" textWrap=true [text]="_speciesModel.behavior"> </Label>

    <Label *ngIf="_speciesModel.habitat" class="m-t-5 h3 font-weight-bold text-center" textWrap=true text="Habitat"> </Label>
    <Label *ngIf="_speciesModel.habitat" textWrap=true [text]="_speciesModel.habitat"> </Label>

    <Label *ngIf="_speciesModel.size" class="m-t-5 h3 font-weight-bold text-center" textWrap=true text="Size"> </Label>
    <Label *ngIf="_speciesModel.size" textWrap=true [text]="_speciesModel.size"> </Label>

    <!-- <Label textWrap=true *ngIf="_speciesModel.conservationStatus" [text]="_speciesModel.conservationStatus"> </Label>

    <Label textWrap=true *ngIf="_speciesModel.type" [text]="_speciesModel.type"> </Label> -->

    <Label *ngIf="_speciesModel.references" class="m-t-5 h3 font-weight-bold text-center" textWrap=true text="References"> </Label>
    <Label *ngIf="_speciesModel.references" textWrap=true [text]="_speciesModel.references"> </Label>

    <Image *ngIf="_speciesModel.imageURL" [src]="_speciesModel.imageURL" margin="10" height="80vh"></Image>

    <Label class="hr-dark"></Label>

  </StackLayout>
</ScrollView>