<ScrollView orientation="vertical">
    <StackLayout orientation="vertical">
      <StackLayout class="hr-light"></StackLayout>
      <Label text= "Vernal Pools and Grassland Reserve Dex" class="m-t-5 h3 font-weight-bold text-center"></Label>
      <Label 
        text="The mission of the University of California Natural Reserve System is to contribute to the understanding and wise stewardship of the Earth and its natural systems by supporting university-level teaching, research, and public service at protected natural areas throughout California." 
        textWrap=true
        textAlignment="center"
class="p-10 m-5"></Label>
    </StackLayout>
</ScrollView>