<ActionBar title="UCM Natty App" class="action-bar" loaded="onLoaded">
  <GridLayout columns="6*, *">

    <GridLayout col="0" columns="auto, *" [visibility]="showSearch ? 'hidden' : 'visible'">
        <Image col="0" src="res://logo" class="action-image"></Image>
        <Label col="1" text=" Natty Da App" class="action-label"></Label>
    </GridLayout>

    <GridLayout col="0" [visibility]="showSearch ? 'visible' : 'hidden'">
        <TextField
        #searchBar
        hint="Search..."
        returnKeyType="done"
        (returnPress)="toggleSearch($event)"
        (focus)="clearSearch($event)"></TextField>
    </GridLayout>

    <Button col="1" text="&#xf002;" class="fa search-btn" (tap)="toggleSearch($event)"></Button>

  </GridLayout>
</ActionBar>
