<ActionBar title="Puff McNatty" class="action-bar" loaded="onLoaded">
  <GridLayout columns="6*, *">

    <GridLayout col="0" columns="auto, *" *ngIf="!showSearch">
        <Image col="0" src="res://logo" class="action-image"></Image>
        <Label col="1" text="Puff McNatty" class="action-label"></Label>
    </GridLayout>

    <GridLayout col="0" *ngIf="showSearch">
        <TextField
        #searchBar
        hint="Search..."
        returnKeyType="done"
        (returnPress)="toggleSearch($event)"
        (focus)="clearSearch($event)"></TextField>
    </GridLayout>

    <Button col="1" text="&#xf002;" class="fa search-btn" (tap)="toggleSearch($event)"></Button>

  </GridLayout>
</ActionBar>
